* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;

  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo:hover {
  background-color: #630f5e;
  color: #ffd700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  padding: 15px 0;
  position: relative;
}

.nav-links li a {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #ffd700;
}

/* Hover effect */
.nav-links a:hover {
  background: #630f5e;
}

.nav-links.active {
  display: flex;
}

/* Dropdown menu */
.dropdown-menu {
  display: none; /* hidden by default */
  position: absolute;
  top: 100%; /* below About */
  left: 0;
  background: #571414;
  list-style: none;
  min-width: 150px;
}

/* Dropdown items */
.dropdown-menu li a {
  padding: 10px;
}

/* SHOW ONLY ON HOVER */
.dropdown:hover .dropdown-menu {
  display: block;
}
